services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: python_app
    volumes:
      - ./nlsh:/app/nlsh
      - ./lsh:/app/lsh
    # entrypoint: ["sleep", "infinity"]
